<!doctype html>
<html lang="en">
<head>
    <title>Quick Email</title>
    <meta charset="utf-8">
    <link href="static/css/email.css" rel="stylesheet">
    <script type="text/javascript">
         function calcHeight(i)
         {
         //find the height of the internal page
         var the_height=
         document.getElementById('iframe'+i).contentWindow.
         document.body.scrollHeight;

         //change the height of the iframe
         document.getElementById('iframe'+i).height=
         the_height;
         }
    </script>
</head>
<body>
    <div class="container-fluid">
        {{range $index, $message := .Messages}}
        <div class="row">
            <div class="col-md-4">
                <span class="sender">{{$message.From}}</span>
                <span class="timestamp">{{$message.Header.Get "Date"}}</span>
            </div>
            <div class="col-md-8">
                <a href="{{$message.GmailLink}}">View this message in gmail</a>
            </div>
        </div>
        <div class="row">
            <div id="guest{{$index}}">
                <iframe id="iframe{{$index}}" onload="calcHeight('{{$index}}');" height="1px" sandbox="allow-same-origin" src="{{.BodyLink}}"></iframe>
            </div>
        </div>
        {{else}}
        <div class="row text-center" style="padding-top:40px">
            <a href="{{.AuthURL}}" class="btn btn-default">Check my mail</a>
        </div>
        {{end}}
        {{if .Messages}}
            {{with index .Messages 0}}
        <form action="archive" method="post">
            <div class="row">
                <button type="sumbit" class="btn btn-default btn-lg">Archive</button>
            </div>
            <input type="hidden" name="thrid" value="{{.Thrid}}"></input>
        </form>
        <form action="send" method="post">
            <div class="row">
                <textarea name="mail-text" style="width:90%; margin:auto; height:60px;"></textarea>
            </div>
            <div class="row">
                <button type="sumbit" class="btn btn-default btn-lg">Send</button>
            </div>
                {{range .Recipients}}
        <input type="hidden" name="recipients" value="{{.}}"></input>
                {{end}}
                {{range .NamedRecipients}}
        <input type="hidden" name="named-recipients" value="{{.}}"></input>
                {{end}}
        <input type="hidden" name="subject" value="{{.Header.Get "Subject"}}"></input>
            {{end}}
        <input type="hidden" name="check" value="{{.CheckValue}}"></input>
        </form>
        {{end}}
    </div>
</body>
</html>
